
/* ОБЩИЕ СТИЛИ */

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}

a {
    text-decoration: none;
    color: #2E2F22;
}

.rounded {
    border-radius: 10px;
}

/* ХЕДЕР */

.BG {
    width: 100%;
    height: 581px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.BG img {
    object-fit: cover;
    width: 100%;

}

/* ХЕДЕР НАВИГАЦИЯ */

.head {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 5px auto 0;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-item {
    margin: 0 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-item:hover {
    border-bottom: 2px solid #2E2F22;
}

/* КОНТЕНТ */

.block {
    margin-top: 60px;
}

/* КОНТЕНТ СТАТЬИ */


