
/* ОБЩИЕ СТИЛИ */

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: #2E2F22;
}

.rounded {
    border-radius: 10px;
}

.button {
    margin-top: 80px;
    background-color: #fff;
    padding: 14px 50px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

/* ХЕДЕР */

.BG {
    width: 100%;
    height: 581px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.BG img {
    object-fit: cover;
    width: 100%;

}

/* ХЕДЕР НАВИГАЦИЯ */

.head {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 5px auto 0;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-item {
    margin: 0 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-item:hover {
    border-bottom: 2px solid #2E2F22;
}

/* КОНТЕНТ */

.block {
    width: 1200px;
    margin: 60px auto;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin-bottom: 50px;
}

/* КОНТЕНТ СТАТЬИ */

.articles {
    margin: 550px auto 0;
}

.articles-header {
    display: flex;
    justify-content: space-between;
}

.articles-header-left {
    font-family: SpectralSC;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
}

.articles-header-right {
    outline: none;
    height: fit-content;
    padding: 10px 24px;
    background: #D7D1C9;
    border: none;
    /* appearance: none !important; */
}

.articles-first {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
}

.article-item {
    /* width: 32.5%; */
    font-size: 16px;
    line-height: 26px;
}

.article-item img {
    width: 100%;
    height: 286px;
}

.article-item-title {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0 10px;
}

.article-item-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
}

.articles-second {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px;
    margin-top: 50px;
}

.article-second-item {
    width: 50%;
    color: white;
    padding: 60px;
    height: 552px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* position: relative;
    top: 0;
    left: 0; */
}

.article-second-item-image {
    position: relative;
    top: 180px;
    left: -60px;
    width: 600px;
    height: 552px;
    z-index: -1;
    /* transform: translate(-60px 60px); */
}

/* .fourth {
    background-image: url('./img/articles/image 4.jpg');
}

.fifth {
    background-image: url('./img/articles/image 5.jpg');
} */

.articles-button-wrapper, .portfolio-button-wrapper {
    display: flex;
    justify-content: center;
}

/* КОНТЕНТ ОБО МНЕ */

.aboutMe-content {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
}

.aboutMe-content-right {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutMe-content-right-stress {
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    border-left: 3px solid #D7D1C9;;
    padding: 20px;
}

/* ПОРТФОЛИО */

.light-color {
    color: white;
}

.portfolio-content {
    display: flex;
    gap: 20px;

}

.portfolio-content-item {
    width: 33%;
    /* background-image: url('./img/portfolio/image 8.jpg'); */
    width: 387px;
    height: 525px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.portfolio-content-item img {
    position: absolute;
    z-index: -1;
}

.portfolio-content-item-title {
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px;
}

.portfolio-content-item-name {
    font-family: Spectral SC;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin: 30px 0 10px;
    padding: 0 20px;
}

.portfolio-content-item p {
    padding: 0 10px;
    
}

/* ФОРМА */

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 996px;
    height: 741;
    margin: 0 auto 70px;
    padding: 70px;
    gap: 20px;
    overflow: hidden;

}

form img {
    position: absolute;
    z-index: -1;
    transform: translate(-70px, -70px);
    width: 996px;
    height: 637px;
}

.form-item {
    font-family: 'Open Sans';
    padding: 20px 15px;
    border: 1px solid #202117;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.form-label {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
}

.form-item-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper input {
    background-color: transparent;
    justify-self: center;
    padding: 10px 70px;
    cursor: pointer;
}

/* ФУТЕР */

footer {
    display: flex;
    padding: 80px;
    justify-content: center;
    background-color: #D7D1C9;
}

.footer-item {
    margin: 0 50px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.1s;
}

.footer-item:hover {
    border-bottom: 2px solid #2E2F22;
}